<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%# source: https://fonts.google.com/icons?selected=Material+Symbols+Outlined:list_alt:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=list&icon.size=24&icon.color=%235f6368 %>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>
