.addButton {
  align-items: center;
  background-color: #12ae0044;
  border: 1px solid #00000044;
  border-radius: 0.25rem;
  color: #000000;
  display: flex;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.1rem 0.3rem;
  text-decoration: none;
}

.addButton img {
  height: auto;
  width: 24px;
}

form {
  display: grid;
  gap: 1vh;
  justify-content: center;
  justify-items: center;
}

form input {
  border: 1px solid #00000044;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

h1 {
  text-align: center;
}

.itemsGrid {
  display: grid;
  grid-template-columns: 2fr 3fr 5rem 5rem 5rem 5rem 5rem 7rem;
}

.itemsGrid > * {
  border-bottom: 0.5px solid #00000044;
  border-top: 0.5px solid #00000044;
}

.heading {
  border-top: none;
  font-weight: bold;
  text-align: center;
}

.itemsGrid a,
.itemsGrid img {
  justify-self: center;
}

.itemsGrid > div {
  background-color: white;
  display: grid;
  padding: 0.25rem;
}

.itemsGrid img {
  height: auto;
  width: 16px;
}

label {
  border: none;
  display: grid;
}

#toggleButton {
  background-color: #00000000;
  border: none;
}

#toggleButton img {
  background-color: #00000000;
  height: auto;
  width: 32px;
}
